<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，为了对sql语句进行隔离，方便管理 ，mapper开发dao方式，使用namespace有特殊作用 -->
<!-- 		单独使用映射到包名就可以了 -->
<mapper namespace="com.ling.test01">

	<!-- 在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象mapper.xml以statement为单位管理sql语句
	 -->
	<insert id="addUser" parameterType="com.ling.test01.User">
		insert into user(user_name, user_pwd, user_age)
		values (#{user_name}, #{user_pwd}, #{user_age})
	</insert>
	<delete id="deleteUser"></delete>
	<update id="updateUser"></update>
	<select id="selectById"></select>
</mapper>